/* 얇은 글씨체 font-family: "Gaegu", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap");
/* 필기체 font-family: 'Yellowtail', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
/* 필기체2 font-family: 'Vibur', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Vibur&family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
  /* border: white solid 1px; */
}
body {
  background-image: url("https://lh3.googleusercontent.com/01cDIj0m5i7qWpBtIJevHJ8_aDEMW9LMlmsbJ91At3i3yb-6LNCwtPP34Y7BTZN0HrYaNZj7x4U9kHXJi2tCgp90PQ=w640-h400-e365-rj-sc0x00ffffff");
  background-attachment: fixed;
  background-size: 100%;
}
.position {
  text-align: end;
  font-size: 16px;
  font-weight: bold;
  font-family: "Gaegu", cursive;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
  margin-top: 10px;
  margin-right: 10px;
}
.title {
  text-align: center;
  font-size: 120px;
  font-family: "Yellowtail", cursive;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #bc13fe, 0 0 42px #bc13fe, 0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe;
  margin: 10px;
}
.clock {
  text-align: center;
  font-size: 60px;
  font-family: "Vibur", cursive;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px mediumslateblue, 0 0 82px mediumslateblue, 0 0 92px mediumslateblue, 0 0 102px mediumslateblue;
}
.greeting {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  font-family: "Gaegu", cursive;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #5271ff, 0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff;
}
.submit {
  text-align: center;
}
.textarea {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: white 3px solid;
  text-align: center;
  width: 400px;
  height: 60px;
  font-size: 50px;
  font-family: "Gaegu", cursive;
}
.login-form__login-input {
  margin-top: 40px;
  margin-bottom: 20px;
}
.todo-list {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-family: "Gaegu", cursive;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
}

/* 버튼 시작*/
.login-form__login-button,
.todo-form__todo-button {
  display: none;
}
button {
  background: transparent;
  border: none;
  font-size: 24px;
}
.todo-form {
  display: flex;
  justify-content: center;
}
.delete-button {
  color: darkslategrey;
  background-color: gainsboro;
  border-radius: 10px;
  width: 85px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gaegu", cursive;
  margin: 5px;
}
/* 반대쪽에 투명 버튼 배치하여 대칭 맞춤 */
.todo-form__balance-button {
  width: 90px;
}
/* 버튼 종료 */

/* greeting 표시 전환 */
.hidden {
  display: none;
}
